// Quasar SCSS (& Sass) Variables

$primary: #33373b;
$secondary: #565e5d;
$accent: #9e9c9e;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #659faa;
$warning: #f2c037;
