// Quasar SCSS (& Sass) Variables

$primary   : #3c434b;
$secondary : #869997;
$accent    : #7f5c85;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #659faa;
$warning   : #F2C037;
